@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Nunito', sans-serif;
    }
    .menu-button {
        @apply rounded-full cursor-pointer text-2xl;
    }
    .active {
        color: rgb(33, 198, 138);
    }
    .bg-color-primary {
        @apply bg-[rgb(33,198,138)];
    }
    .bg-custom {
        position: relative;
    }
    .bg-custom::before {
        content: '';
        position: absolute;
        top: -130%;
        left: 0;
        width: 100%;
        height: 200%;
        opacity: 0.4;
        background: white;
        clip-path: circle(60% at 100% 0);
    }
    .item-datastatistik-1::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        width: 6px;
        height: 42px;
        background: rgb(52, 211, 153);
        border-radius: 0 6px 6px 0;
    }
    .item-datastatistik-2::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        width: 6px;
        height: 42px;
        background: rgb(251, 146, 60);
        border-radius: 0 6px 6px 0;
    }
    .item-datastatistik-3::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        width: 6px;
        height: 42px;
        background: rgb(248, 113, 113);
        border-radius: 0 6px 6px 0;
    }
    .item-datastatistik-4::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        width: 6px;
        height: 42px;
        background: rgb(96, 165, 250);
        border-radius: 0 6px 6px 0;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    progress::-webkit-progress-bar {
        background: rgb(188, 230, 212);
        height: 3px;
    }
    progress::-webkit-progress-value {
        background: rgb(94, 214, 164);
    }
}
